body {
    font-family: 'Inconsolata';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
button {
    border: none;
}
.kotak-input {
    display: block;
    resize: none;
}

p > span {
    color: coral; /* atau juga bisa pakai kode hex-nya, #FF7F50 */
    font-weight: bold;
}

.grup-tg {
    margin-top: 5px; /* ini opsional sih biar ada spasinya antara button */ 
}
.mode-gelap {
    background-color: #171b25;
    color: #EBECF7;
}
.mode-gelap .kotak-input {
    background-color: #2e3443;
    color: #EBECF7;
}
.mode-gelap button {
    background-color: #29ddcc;
    color: #2e3443;
}
